html
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: linear-gradient(120deg, rgb(0, 44, 139) 0%, #4decec 74%);
    box-shadow: 100px, rgb(237, 255, 255);
    color: rgb(186, 224, 255);
        text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #0fa,
            0 0 82px #0fa,
            0 0 92px #0fa,
            0 0 102px #0fa,
            0 0 151px #0fa;
}

#root
{
    background-image: linear-gradient(30deg, rgb(29, 115, 254) 0%, rgb(199, 238, 255) 72%);
    background-blend-mode: color;
    border-color: #ffd66e;
    border-style: dotted;
    border-width: 1.5em;
}

ul
{
    border-width: 1cm;
    border-color: #21d4b0;
    border-style: double;
    border-image: stretch;
    background-image: linear-gradient(30deg, rgb(0, 107, 139) 13%, #8cffe6 74%);
}